<!-- Calendar Controller, Index Action -->

<!-- Full size Calendar -->
<div class='responsive-iframe-container big-container gcal'>
	<h1 class='header blurb'> Calendar </h1>
	<iframe src="https://calendar.google.com/calendar/embed?src=bbd2828%40gmail.com&ctz=America/New_York" style='border: 0' width='95%' height='650' frameborder="0" scrolling="no"></iframe>
	
</div>

<!-- mobile-friendly calendar -->
<div class='responsive-iframe-container small-container gcal'>
	<h1 class='header blurb'> Calendar </h1>
	<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bbd2828%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="95%" height="600" frameborder="0" scrolling="no"></iframe>
	
</div>

<style>
@media (max-width: 768px) {
	.big-container {
	display: none;
	}
}

@media (min-width: 768px) {
	.small-container {
	display: none;
	}
}

.responsive-iframe-container {
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
}

.gcal {
	text-align: center;
	background-image: url('football_field.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	/*background-color: rgba(100,100,100,0.5);*/
	margin-bottom: 10vh;
}
.header {
	margin-top: 8vh;
	text-align: center;
	color: black !important;
}
</style>
