<!-- Calendar Controller, Index Action -->

<div class='div4'>
	<h1 class='blurb cal-text'> <a href='/calendar'>Calendar</a></h1>
</div>
<!-- Full size Calendar -->
<div class='responsive-iframe-container big-container gcal'>
	<iframe src="https://calendar.google.com/calendar/embed?src=bbd2828%40gmail.com&ctz=America/New_York" style='border: 0' width='95%' height='650' frameborder="0" scrolling="no"></iframe>
	
</div>

<!-- mobile-friendly calendar -->
<div class='responsive-iframe-container small-container gcal'>
	<iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bbd2828%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="95%" height="500" frameborder="0" scrolling="no"></iframe>
	
</div>

<style>
@media (max-width: 768px) {
	.big-container {
	display: none;
	}
}

@media (max-width: 550px) {
	.small-container {
	margin-left: 8px;
	width: 333px;
	}
}

@media (min-width: 768px) {
	.small-container {
	display: none;
	}
}

.responsive-iframe-container {
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
	text-align: center;
}



</style>
