<!-- Welcome Controller, Index Action -->

<%= render file: '/home/benpannell/workspace/MMYS/app/views/layouts/carousel.html.erb' %>
</div>
<div class="container-fluid">
	<div class = "row">
		<div class = "col-md-6 col-xs-12 pull-right">
			<h1>Facebook</h1>
		</div>
		<div class = "col-md-6 col-xs-12 pull-left">
			<h1>Calendar</h1>
		</div>	
	</div>
</div>
