<!-- Sponsors Controller, Index Action -->

<div class="jumbotron jt2">
	<div class='container-float logos'>
		<div class='row'>
			<% @sponsors.each do |s| %>
				<div class='col-sm-6'>
					<a target="_blank" href='<%= s.website %>'>
						<h1> <%= s.name %> </h1>
						<%= image_tag s.image %>
					</a>
				</div>
			<% end %>
		</div>
	</div>
</div>
