<!-- About Page, index -->

<div class='row page'>
	<div class="col-xs-12 col-md-4 pull-left sponsors">
		<a href="/sponsors">
		<!-- Add Sponsors Here -->
			<% @sponsors.each do |s| %>
				<h3><%= s.name %></h3>
				<%= image_tag s.image %>
			<% end %>
		</a>
	</div>
	<div class="col-xs-12 col-md-8 pull-right missionStatement">
		<h3>At Mitch Murphy Youth Sports Incorporated, we strive for greatness</h3>
		<p> Mision Statement stuff </p>
	</div>
</div>