<!-- About Page, index -->

<div class='row page'>
	<div class="col-xs-12 col-md-4 pull-left sponsors">
		<a href="/sponsors">
		<!-- Add Sponsors Here -->
			<% (1..6).each do |i| %>
				<p> Sponsor <%=i%></p>
			<% end %>
		</a>
	</div>
	<div class="col-xs-12 col-md-8 pull-right missionStatement">
		<h3>At Mitch Murphy Youth Sports Incorporated, we strive for greatness</h3>
		<p> Mision Statement stuff </p>
	</div>
</div>