<!-- Contact Page, index -->

<div class='jumbotron jt3'>
	<div class='container-fluid'>
		<div class='row contact'>
			<h1 class='blurb'>If you would like to Contact MMYS...</h3>
			<h1 class='blurb'> Please use the following email:</h3>
			<h1><a class='blurb' href="mailto:foo@bar.com"> mitchmurphy @gmail.com </a></h3>
		</div>
	</div>
</div>

<%= render file: '/layouts/balls' %>

