// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jt1 {
	background-image: url('baseball_field_2.jpg');
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	width:100%;
	min-height: 65vh;
	.main {
		padding-bottom: 5vh;
	}
	.content {
		color: rgba(255,255,255,1);
	}
}



.div3 {
	margin-top: -50px;
	height: 10vh;
	background-color: rgba(100,100,100,1);
	.divtext {
		padding-top: 2vh;
	}
}


@media (max-width: 550px){
	.div3{
	margin-top: -5vh;
 	& .divtext{
		font-size: 16px !important;
		}
	}
}

.sponsors {
	text-align: center;
}

@media (max-width: 768px) {
	.sponsor-img {
		width: 30%;
		height: auto;
	}
}


