// Place all the styles related to the Carousel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mainfont: 'Stardos Stencil', cursive;
$main-color: white;

@media (min-width: 768px){
	#myCarousel .carousel-inner .item {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		.title .logo {
			font-size: 100px;
		}
	}
	
}

@media (max-width: 768px){
	#myCarousel .carousel-inner .item {
	 .sidebar .sidetxt {
		font-size: 23px;
		}
	/*.title .logo {
		font-size: 50px;
		}*/
	}
}

.glyphicon {
  padding-top: 30vh;
}

#myCarousel .carousel-inner {
	.item {
		height: 80vh;
		background-position-x: center;
		background-position-y: center;
		background-size: cover;
		width: 100%;
		
		&.item1{ background-image: url('MMYS-Football_2.jpg');}
		&.item2{ background-image: url('MMYS_Team.jpg');}
		&.item3{ background-image: url('MMYS-Basketball.jpg');}
		&.item4{ background-image: url('MMYS-Football.jpg');}
	}
}

.title {
  padding-top: 40vh;
  padding-bottom: 30vh;
	.line {
    	width: 50vw;
  }
}

.logo {
	background: url("MMYS_Logo.svg");
	background-size: 100% 60vh;
	background-position-x: center;
	margin-top:-30vh;
	width: 100%;
	height: 60vh;
	
}

.logo-text {
	margin-top: -20vh;
}

.sidebar {
    padding-top: -50px;
    width: 40vw;
    background-color: rgba(0,0,0,0.35);
    min-height: 80vh;

	.ball {
		text-align: center;
		min-height: 33vh;
		padding-top: 5vh;
		padding-bottom: -25vh;
			}
	.balls {
		fill: rgba(255,255,255,0.5);
		width: 100%;
	}
}


.blurb {
    text-align: center;
    color: $main-color !important;
    font-family: $mainfont;
    text-shadow: 2px 2px 2px black;
    }

.blurb2 {
	text-align: center;
	color: black !important;
	font-family: $mainfont;
}

