// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact {
	padding-top: 8vh;
	text-align: center;

}

.balls {
	fill: rgba(0,0,0,0.7);
}

@media (max-width: 2000px){
	.balls {
	max-height: 33vh;
	min-height: 33vh;
	}
}

@media (max-width: 750px){
	.balls {
	max-height: 15vh;
	min-height: 15vh;
	}
}

