.navbar  {
  background-color: rgba(255,255,255,0.95);
  font-family: 'Allerta Stencil', sans-serif;
  border-bottom: solid rgba(0,0,100,1) !important;
  border-top: solid rgba(200,0,0,1);
}

.nav-item {
  	color: rgba(0,0,200,1) !important;
	text-shadow: none;
  	text-align: right;
}
.nav-item:hover {
  background-color: rgba(100,100,100,1);
  color: rgba(255,255,255,1) !important;
}

.nav-item a {
  color: rgba(0,0,200,1) !important;
	text-shadow: none;
}
.nav-item a:hover {
  background-color: rgba(100,100,100,1) !important;
  color: rgba(255,255,255,1) !important;
}

button {
  background-color: rgba(200,0,0,1) !important;
}
.navbar-header .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,1);
}
