.jt4 {
	background-image: url('Turf.jpg');
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	width: 100%;
}

.signup {
	background-color: rgba(255,255,255,0.95);
	margin-top: 4vh;
	width: 25vw;
	.su-button {
		margin-top: 8vh;
	}
}

@media (max-width: 768px) {
	.signup {
	width: 80vw;
	}
}
