// Place all the styles related to the Sponsors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jt2 {
	background-image: url('handshake.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	min-height: 65vh;
}

.logos {
	margin-top: 8vh;
	text-align: center;
}

