// Place all the styles related to the Sponsors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jt2 {
	background-image: url('handshake.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	min-height: 65vh;
	
}

.logos {
	margin-top: 8vh;
	text-align: center;
}

.sp_name {
	color: black !important;
}

.div2 {
	margin-top: -3.5vh;
	background-color: rgba(200,0,0,1);
	min-height: 8vh;
	max-height: 8vh;
	.divtext {
		padding-top: 4vh;
	}
}

@media (max-width: 768px) {
	.spsr-img {
		width: 30%;
		height: auto;
	}
}
