// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
overflow-x: hidden;
}

.div1 {
  height: 8vh;
  background-color: rgba(0,0,100,1);  
}

.subhead {
	margin-top: -10vh;
  text-align: center;
  border-left: rgba(0,0,100,1);
}



