

<!-- Carousel Section -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item item1 active">
        <div class="carousel-caption">
        <h1 class="blurb">Caption 1</h1>
        <p>stock photo 1</p>
      </div>
    </div>
    <div class="item item2">
      	<div class="sidebar pull-right">	        
        	<img src="#"/>
    		<hr>
    		<h2 class="blurb">Guiding Today's Youth Through Competitve Sports In Safe Environments While Providing Quality Equipment</h2>
    	</div>
	</div>

    <div class="item item3">
      <div class="sidebar pull-right">
        <img src="#">
        <hr>
        <h2 class="blurb">Promoting Opportunities in Today's Next-Level Elite Youth Sports</h2>
      </div>
    </div>

	<div class="item item4">
      <div class="sidebar pull-right">
        <img src="#">
        <hr>
        <h2 class="blurb">Proud Supporters of Promoting Opportunity in Today's Next-Level Elite Youth Sports</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>