

<!-- Carousel Section -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item item1 active hero-container">
        <div class="title">
            <div class="logo">
            </div>
            <div class="logo-text">
              <h1 class="blurb">MMYS INC.</h1>
              <hr class="blurb line">
              <h3 class="blurb">Mitch Murphy Youth Sports Inc.</h3>
          </div>


        </div>
    </div>

    <div class="item item2 hero-container">
      	<div class="sidebar pull-right">
      		<div class="ball">
	      		<svg class="icon icon-baseball balls" viewBox="-4 -1.5 40 40">
	          		<use xlink:href="#icon-baseball">
	          			<symbol id="icon-baseball" preserveAspectRatio="xMaxYMax Slice">
		                	<title>baseball</title>
		                	<path class="path1" d="M25 25.665c-2.23 2.069-5.217 3.335-8.5 3.335s-6.27-1.265-8.5-3.335v0 0c0.541-0.502 1.038-1.052 1.484-1.643l0.736 0.535 0.588-0.809-0.753-0.547c0.496-0.78 0.909-1.619 1.224-2.504l0.93 0.302 0.309-0.951-0.942-0.306c0.236-0.879 0.377-1.797 0.415-2.742h1.010v-1h-1.010c-0.037-0.945-0.179-1.862-0.415-2.742l0.942-0.306-0.309-0.951-0.93 0.302c-0.315-0.885-0.728-1.724-1.224-2.504l0.753-0.547-0.588-0.809-0.736 0.534c-0.446-0.591-0.943-1.14-1.484-1.643v0c2.23-2.069 5.217-3.335 8.5-3.335s6.27 1.265 8.5 3.335v0c-0.541 0.502-1.038 1.052-1.484 1.643l-0.736-0.534-0.588 0.809 0.753 0.547c-0.496 0.78-0.909 1.619-1.224 2.504l-0.93-0.302-0.309 0.951 0.942 0.306c-0.235 0.879-0.377 1.797-0.415 2.742h-1.010v1h1.010c0.037 0.945 0.179 1.862 0.415 2.742v0l-0.942 0.306 0.309 0.951 0.93-0.302c0.315 0.885 0.728 1.724 1.224 2.504l-0.753 0.547 0.588 0.809 0.736-0.535c0.446 0.591 0.942 1.14 1.484 1.643v0 0 0zM26.267 24.301c1.71-2.138 2.733-4.85 2.733-7.801 0-3.261-1.249-6.23-3.294-8.456-0.504 0.465-0.966 0.974-1.381 1.521l0.882 0.641-0.588 0.809-0.863-0.627c-0.437 0.695-0.801 1.44-1.083 2.224l0.971 0.316-0.309 0.951-0.959-0.312c-0.205 0.781-0.331 1.595-0.366 2.432h0.989v1h-0.989c0.036 0.837 0.161 1.651 0.366 2.432l0.959-0.311 0.309 0.951-0.971 0.316c0.282 0.784 0.646 1.529 1.083 2.224l0.863-0.627 0.588 0.809-0.882 0.641c0.414 0.547 0.877 1.057 1.381 1.521-0.014 0.015 0.369-0.414 0.562-0.655v0zM6.645 24.19c-1.657-2.121-2.645-4.79-2.645-7.69 0-3.261 1.249-6.23 3.294-8.456 0.504 0.465 0.966 0.974 1.381 1.521l-0.882 0.641 0.588 0.809 0.863-0.627c0.437 0.695 0.801 1.44 1.083 2.224l-0.971 0.316 0.309 0.951 0.959-0.312c0.205 0.781 0.331 1.595 0.366 2.432h-0.989v1h0.989c-0.036 0.837-0.161 1.651-0.366 2.432l-0.959-0.311-0.309 0.951 0.971 0.316c-0.282 0.784-0.646 1.529-1.083 2.224l-0.863-0.627-0.588 0.809 0.882 0.641c-0.414 0.547-0.877 1.057-1.381 1.521 0.014 0.015-0.431-0.486-0.649-0.765v0z">
	                		</path>
	              		</symbol>
	            	</use>
	        	</svg>
	        </div>
	
	        <div class="blurb">
    			<h2 class='sidetxt'>Guiding Today's Youth Through Competitve Sports In Safe Environments While Providing Quality Equipment</h2>
    		</div>
		</div>
	</div>

    <div class="item item3 hero-container">
      <div class="sidebar pull-right">
      	<div class="ball">
        	<svg class="icon icon-basketball2 balls" viewBox="-4 -1.5 40 40">
          		<use xlink:href="#icon-basketball2">
            		<symbol id="icon-basketball2" preserveAspectRatio="xMaxYMax slice">
              			<title>basketball2</title>
              			<path class="path1" d="M15.99 28.98v-11.99h-4.010c-0.135 3.421-1.644 6.488-3.99 8.665 2.117 1.964 4.915 3.204 8 3.325v0zM6.601 24.136c-1.541-1.991-2.495-4.459-2.601-7.146h6.979c-0.134 3.143-1.531 5.96-3.695 7.956 0.014 0.015-0.455-0.515-0.684-0.81v0zM25.696 24.946c1.94-2.111 3.164-4.892 3.284-7.956v0h-6.979c0.134 3.143 1.531 5.96 3.695 7.956v0 0zM24.99 25.655c-2.117 1.964-4.915 3.204-8 3.325v0-11.99h4.010c0.135 3.421 1.644 6.488 3.99 8.665v0 0zM25.696 8.034c1.94 2.111 3.164 4.892 3.284 7.956v0h-6.979c0.134-3.143 1.531-5.96 3.695-7.956v0 0zM24.99 7.325c-2.117-1.964-4.915-3.204-8-3.325v11.99h4.010c0.135-3.421 1.644-6.488 3.99-8.665v0zM7.284 8.034c-1.94 2.111-3.164 4.892-3.284 7.956v0h6.979c-0.134-3.143-1.531-5.96-3.695-7.956v0zM7.99 7.325c2.117-1.964 4.915-3.204 8-3.325v0 11.99h-4.010c-0.135-3.421-1.644-6.488-3.99-8.665v0z">
              			</path>
            		</symbol>
          		</use>
        	</svg>
        </div>

        <div class="blurb">
        	<h2 class='sidetxt'>Promoting Opportunities in Today's Next-Level Elite Youth Sports</h2>
    	</div>
      </div>
    </div>

    <div class="item item4 hero-container">
      <div class="sidebar pull-right">
      	<div class="ball">
        	<svg class="icon icon-football balls" viewBox="-4 -1.5 40 40">
          		<use xlink:href="#icon-football">
            		<symbol id="icon-football" preserveAspectRatio="xMaxYMax slice">
              			<title>football</title>
          				<path class="path1" d="M20 17h-1v2h-1v-2h-1v2h-1v-2h-1v2h-1v-2h-1v2h-1v-2h-2v-1h2v-2h1v2h1v-2h1v2h1v-2h1v2h1v-2h1v2h1v-2h1v2h2v1h-2v2h-1v-2zM9 22.177c1.966 1.050 4.449 1.823 7.5 1.823s5.534-0.773 7.5-1.823v0-11.353c-1.966-1.050-4.449-1.823-7.5-1.823s-5.534 0.773-7.5 1.823v11.353zM8 21.593c-3.454-2.193-5-5.093-5-5.093s1.546-2.9 5-5.093v10.186zM25 21.593c3.454-2.193 5-5.093 5-5.093s-1.546-2.9-5-5.093v10.186z">
              			</path>
            		</symbol>
          		</use>
        	</svg>
    	</div>

        <div class="blurb">
        	<h2 class='sidetxt'>Proud Supporters of Promoting Opportunity in Today's Next-Level Elite Youth Sports</h2>
    	</div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
