<!-- Facebook Plugin

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
-->
<div class="container-fluid fb">
	<h1 class="blurb"> <a href="https://www.facebook.com/2017-10U-Indy-Hurricanes-973477329438255/?fref=ts" target="_blank">Like Us on Facebook!</a></h1>
	<iframe class="fb-page" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F2017-10U-Indy-Hurricanes-973477329438255%2F%3Ffref%3Dts&tabs=timeline&width=500&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>



<style>
.fb {
  margin-top: 8vh;
}

@media (max-width: 550x) {
  .fb-page {
    data-width: 350px;

  }
}

@media (min-width: 768px) {
  .fb-page {
  data-width: 500px;
  }
}
</style>

