<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"> </span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-item blurb" href="/">MMYS Inc.</a>
    </div>
    <div class="collapse  navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class='blurb' href="/about" data-toggle="tooltip" title="About">About</a></li>
        <li class="nav-item"><a class='blurb' href="/calendar" data-toggle="tooltip" title="Calendar">Calendar</a></li>
        <li class="nav-item"><a class='blurb' href="/sponsors" data-toggle="tooltip" title="Sponsors">Sponsors</a></li>
        <li class="nav-item"><a class='blurb' href="#" data-toggle="tooltip" title="Coming Soon...">Forum</a></li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle blurb" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign up<span class="caret"></span></a>
          <ul class="dropdown-menu">
            
	    <% if !user_signed_in? %>
		<li><a class='blurb' href="/users/sign_up" title="Sign_up">Sign up</a></li>
            	<li><a class='blurb' href="/users/sign_in" title="Log_in">Log In</a></li>
	    <% else %>
		<li class='blurb'><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
	    <% end %>
		           
            <!--<li><a class='blurb' href="/users/log_out" title="Log_out">Log out</a></li>-->
          </ul>
        </li>
        <li class="nav-item"><a class='blurb' href="/contact" data-toggle="tooltip" title="Contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
